<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <style>
      .disable{
        display: none;
      }
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      .form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      .form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      .form button { background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script>var user = null;</script>
  </head>
  <body>
    <h3>Login Module</h3>
    <div id="login-form">
      <button id="login-google">login google</button>
      <button id="login-facebook">login facebook</button>
      <button id="login-discord">login discord</button>
      <button id="play-as-guest">play as guest</button>
    </div>
    <div id="hello" class="disable">
      <p id="hello-text"></p>
      <button id="leave-game">leave game</button>
      <button id="logout">log out</button>
      <button id="view-profile">profile</button>
      <button id="find-or-create-room">join room</button>
      <input type="text" id="room-name"></input>
      <button id="enter-room">enter room</button>
      <ul id="messages"></ur>
      <div class="form">
        <input id="msg" autocomplete="off" />
        <button id="send-string">Send String</button>
        <button id="send-integer">Send Integer</button>
        <button id="send-to-self">Self Message(string)</button>
      </div>
    </div>
    <% if (user) { %>
      <script>
        user = <%- JSON.stringify(user) %>
      </script>
    <% } %>
    <script src="/js/bundle.js"></script>
  </body>
</html>
