<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <% if (user) { %>
      <p>
      ID: <%= user.id %><br/>
      Username: <%= user.username %><br/>
      Name: <%= user.displayName %><br/>
      <% if (user.emails) { %>
      Email: <%= user.emails[0].value %><br/>
      <% } %>
      </p>
      <a href="/logout">Log out</a>
    <% } else { %>
      <script>
        alert('Need Log In!');
        window.location.href = "/";
      </script>
    <% } %>
  </body>
</html>
